---
import "../styles/global.css"
// Component Imports
import Button from "../components/Button.astro"
import { AspectRatio } from "@/components/ui/aspect-ratio"
import Image from "astro/components/Image.astro"
import img1 from "/public/ttgl.avif"
import img2 from "/public/profile.png"
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div class='grid place-items-center h-screen content-center'>
      <Button>Tailwind Button in Astro!</Button>

      <div class='w-200'>
        <AspectRatio ratio={16 / 9} className='bg-muted rounded-lg'>
          <Image
            src={img1}
            alt='Photo by Drew Beamer'
            class='h-full w-full rounded-lg object-cover dark:brightness-[0.2] dark:grayscale'
            width={800}
            height={450}
          />
        </AspectRatio>
      </div>

      <div class='size-32'>
        <Image
          src={img2}
          alt='Profile'
          class='h-full w-full rounded-lg object-cover dark:brightness-[0.2] dark:grayscale'
          width={128}
          height={128}
        />
      </div>

      <a href='/markdown-page' class='p-4 underline'
        >Markdown is also supported...</a
      >
    </div>
  </body>
</html>
