---
import "../styles/global.css"
// Component Imports
import Button from "../components/Button.astro"
import { AspectRatio } from "@/components/ui/aspect-ratio"
import Image from "astro/components/Image.astro"

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div class='grid place-items-center h-screen content-center'>
      <Button>Tailwind Button in Astro!</Button>

      <AspectRatio ratio={16 / 9} className='bg-muted rounded-lg'>
        <Image
          src='https://testghost.mo.cloudinary.net/image/upload/v1682931788/gaftonosh/2023/05/tengen-toppa-gurren-lagann-4k-1m2.webp'
          alt='Photo by Drew Beamer'
          class='h-full w-full rounded-lg object-cover dark:brightness-[0.2] dark:grayscale'
          width={800}
          height={450}
        />
      </AspectRatio>

      <a href='/markdown-page' class='p-4 underline'
        >Markdown is also supported...</a
      >
    </div>
  </body>
</html>
